.list {
  max-width: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
.tag {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background: rgb(239, 242, 251);
  border-radius: 8px;
  color: rgb(77, 91, 124);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71429;
  margin: 4px 8px 4px 0;
  padding: 0 8px;
  transition: background 0.15s linear 0s, color 0.15s linear 0s;
}

@media (min-width:600px) and (max-width:800px) {
  .list { max-width: 200px; }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .list { max-width: 330px; }
}